<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dondeir.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/57e27e05bd.js" crossorigin="anonymous"></script>
    <title>Donde Ir</title>
</head>

<body>
    <header>
        <!--NavBar-->
        <nav class="navbar">
            <h1 class="logo">TURISTEANDO</h1>
            <ul class="nav-links">
                <li class="btn-nav"><a href="index.html">Inicio</a></li>
                <li class="btn-nav"><a href="dondeir.html">Dónde ir</a></li>
                <li class="btn-nav"><a href="paquetes.html">Paquetes</a></li>
                <li class="btn-nav"><a href="paquetes_admin.html">Panel Administrativo</a></li>
                <li class="btn-nav"><a href="quehacer.html">Qué hacer</a></li>
                <li class="btn-nav"><a href="nosotros.html">Sobre Nosotros</a></li>
            </ul>
            <img src="../Icons/menu.png" class="menu-btn" alt="Menu">
        </nav>
        <div class="header-content">
            <h2>Descubre La Belleza y Cultura de Argentina</h2>
            <div class="line"></div>
            <h1>TU GUÍA DE TURISMO POR EL PAÍS</h1>
        </div>
    </header>
    <br>
    <div id="imagenes">
        <section>
            <img src="../Images/dondeirsanmartindelosandes.jpg" alt="San Martin de los Andes">
            <img src="../Images/dodeircafayate.jpg" alt="Cafayate">
            <img src="../Images/dondeirmardelplata.jpg" alt="Mar del Plata">
            <img src="../Images/dondeirperitomoreno.jpg" alt="Glaciar Perito Moreno">
            <img src="../Images/dondeirnahuelhuapi.jpg" alt="Lago Nahuel Huapi">
        </section>
    </div>
    <br>
    <div class="row-video">
        <div class="col-6-lg">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f6QFJUkORmQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-2-lg"></div>
        <div class="col-4-lg">
            <p id="descripcion">Descubre la belleza de nuestros destinos a través de una selección cautivadora de
                imágenes y
                videos de paisajes impresionantes. Sumérgete en la majestuosidad de montañas escarpadas que tocan el
                cielo,
                extensas playas bañadas por aguas cristalinas y exuberantes bosques que te invitan a explorar. Nuestra
                colección de imágenes y videos te transportará a lugares de ensueño, despertando tus sentidos y
                alimentando
                tu espíritu aventurero. <br>

                Déjate maravillar por la imponente grandeza de las montañas, donde la nieve eterna cubre las cumbres y
                los
                valles ocultan lagos de aguas turquesas. Observa cómo el sol se pone en el horizonte, tiñendo el cielo
                de
                colores intensos y creando un espectáculo que te dejará sin aliento. Adéntrate en bosques frondosos y
                sumérgete en la serenidad de la naturaleza, mientras los rayos del sol se filtran entre las copas de los
                árboles. <br>

                Explora nuestras imágenes y videos de playas paradisíacas, donde la arena suave se funde con las olas
                que
                acarician la costa. Contempla la vastedad del océano que se extiende hasta donde alcanza la vista y
                sumérgete en sus aguas cristalinas para descubrir un mundo submarino lleno de vida y colores vibrantes.
                Siente la brisa marina acariciando tu rostro y déjate llevar por la tranquilidad que solo el mar puede
                ofrecer. <br>

                Nuestra colección de imágenes y videos captura la esencia de cada destino, desde panorámicas panorámicas
                hasta primeros planos llenos de detalles. Cada imagen y video es una invitación a explorar, a sumergirte
                en
                la magia de la naturaleza y a descubrir lugares que te dejarán maravillado. <br>

                Permítenos transportarte a través de estas imágenes y videos a destinos que te inspirarán a planificar
                tu
                próxima aventura. Sumérgete en la belleza de los paisajes y deja que tu imaginación te lleve a lugares
                extraordinarios. ¡Prepárate para vivir experiencias inolvidables y crear recuerdos que perdurarán para
                siempre! <br> </p>
        </div>
    </div>
    <br>
    <!--Footer-->
    <div id="footer" class="footer">
        <div class="colum">
            <div class="mapa">
                <p>Atención al cliente: 0800 123 1234 Lunes a viernes de 10 a 21hs. Sábados de 10 a 16hs.</p>
                <iframe id="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.712423486534!2d-64.25265982345903!3d-31.394492095194916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329f2e20895265%3A0xf6dab6c01a51609a!2zRGXDoW4gRnVuZXMgNTI3OSwgQ8OzcmRvYmE!5e0!3m2!1ses-419!2sar!4v1683244585601!5m2!1ses-419!2sar"
                    allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="sucursales">
                <p class="sucur">
                    SUCURSALES
                    <br><br>
                    · Casa Central Córdoba Capital <br>
                    Av. Hipólito Yrigoyen 433. Nueva Córdoba.
                    <br><br>
                    · Carlos Paz <br>
                    Lisandro De La Torre 116 Local 2 – Tel: 03541 420669
                    <br><br>
                    · Pilar <br>
                    9 de Julio esq. Zenón López – Tel: 03572 – 471139
                </p>
            </div>
            <div class="redes">
                <p>NUESTRAS REDES</p>
                <div class="footer-links">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item" style="font-size: 50px;"><a href="https://www.facebook.com/" target="_blank"><i
                        class="fab fa-facebook" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item" style="font-size: 50px;"><a href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/" target="_blank"><i
                        class="fab fa-github" style="font-size: 50px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Turisteando 2023. Todos los derechos reservados</p>
        </div>
    </div>
</body>

</html>
