<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turisteando.com</title>
    <!-- Link CSS  -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/57e27e05bd.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--NavBar-->
         <nav class="navbar">
             <h1 class="logo">TURISTEANDO</h1>
             <ul class="nav-links">
                <li class="btn-nav"><a href="index.html">Inicio</a></li>
                <li class="btn-nav"><a href="dondeir.html">Dónde ir</a></li>
                <li class="btn-nav"><a href="paquetes.html">Paquetes</a></li>
                <li class="btn-nav"><a href="paquetes_admin.html">Panel Administrativo</a></li>
                <li class="btn-nav"><a href="quehacer.html">Qué hacer</a></li>
                <li class="btn-nav"><a href="nosotros.html">Sobre Nosotros</a></li>
            </ul>
            <img src="../Icons/menu.png" class="menu-btn" alt="Menu">
        </nav>
        <div class="header-content">
            <h2>Descubre La Belleza y Cultura de Argentina</h2>
            <div class="line"></div>
            <h1>TU GUÍA DE TURISMO POR EL PAÍS</h1>
        </div>
    </header>
    <!-- Section lugares: "A donde ir"-->
    <section class="lugares-container">
        <div class="title-lug">
            <h1>Viajá por Argentina</h1>
            <div class="line"></div>
            <h2>Recorré los maravillosos destinos de nuestro país</h2>
        </div>
        <div class="slide-container">
            <div class="slides">
                <img src="../Images/mardelplata.jpg" alt="Buenos Aires, Mar del plata" class="active" id="images" >
                <img src="../Images/sanmartin.jpg" alt="Neuquén, San Martin de los andes"  id="images">
                <img src="../Images/SantaCruz.jpg" alt="Santa Cruz"  id="images">
                <img src="../Images/salta.jpg" alt="Salta, Cafayate"  id="images">
                <img src="../Images/mendoza.jpg" alt="Mendoza, San Rafael"  id="images">
                <img src="../Images/jujuy.jpg" alt="Jujuy"  id="images">
                <img src="../Images/misionescataratas.jpg" alt="Misiones, Puerto Iguazú"  id="images">
                <img src="../Images/tierradelfuego.jpg" alt="Tierra del fuego"  id="images">
            </div>
            <div class="buttons">
                <span class="next">&#10095;</span>
                <span class="prev">&#10094;</span>
            </div>
            <div class="indicador-container">
                <div class="indicador active" attr="0"></div>
                <div class="indicador" attr="1"></div>
                <div class="indicador" attr="2"></div>
                <div class="indicador" attr="3"></div>
                <div class="indicador" attr="4"></div>
                <div class="indicador" attr="5"></div>
                <div class="indicador" attr="6"></div>
                <div class="indicador" attr="7"></div>
            </div>
        </div>
        <div class="redirect">
            <h1>¡Esto y mucho más! Conoce más actividades</h1>
            <a href="./dondeir.html" class="btn">Descubrí más</a>
    </section>
<!-- Section Excursiones -->
    <section class="excursiones">
        <div class="excursiones-content">
            <h1>DESCUBRE TODO LO QUE PUEDES HACER EN TU DESTINO</h1>
            <div class="line"></div>
            <p>Cada destino posee aventuras inigualables. ¡Conoce todas las opciones que hay! Apúnta a la que más se adapte a tu personalidad y hace de ellas una experiencia inolvidable.</p>
        </div>
    </section>
<!--Tours-->
    <section class="tours">
        <div class="tours-text">
                <h1>Explorá, conocé y viví experiencias únicas</h1>
                <p>No importa si sos team playa, río, lago, montaña, invierno o verano. En Argentina existen miles de posibilidades únicas en cualquier época, para todos los gustos. Anímate a conocer, animate a crear historias para contar.</p>
        </div>
        <div class="image-tours">
            <div class="tarj-tour">
                <img src="../Images/canopy-sanma.jpg" alt="">
                <h3>Canopy en San Martin de los andes</h3>
            </div>
            <div class="tarj-tour">
                <img src="../Images/excursion-cafayate.jpg" alt="">
                <h3>Caminata por Cafayate</h3>
            </div>
            <div class="tarj-tour">
                <img src="../Images/excursion-misiones.jpg" alt="">
                <h3>Las cataratas desde adentro</h3>
            </div>
            <div class="tarj-tour">
                <img src="../Images/jujuy-excursiones.jpg" alt="">
                <h3>Excursion en Bici por la quebrada</h3>
            </div>
        </div>
        <div class="redirect">
            <h1>¡Esto y mucho más! Conoce más actividades</h1>
            <a href="quehacer.html" class="btn">Ver más</a>
        </div>
        <div class="redirect">
            <h1>¡Si precisas información detallada u orientación en tu viaje, no dudes en contactarnos!</h1>
            <a href="./nosotros.html" class="btn">Contáctanos aquí</a>
        </div>
    </section>
<!--Footer-->
    <div id="footer" class="footer">
        <div class="colum">
            <div class="mapa">
                <p>Atención al cliente: 0800 123 1234 Lunes a viernes de 10 a 21hs. Sábados de 10 a 16hs.</p>
                <iframe id="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.712423486534!2d-64.25265982345903!3d-31.394492095194916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329f2e20895265%3A0xf6dab6c01a51609a!2zRGXDoW4gRnVuZXMgNTI3OSwgQ8OzcmRvYmE!5e0!3m2!1ses-419!2sar!4v1683244585601!5m2!1ses-419!2sar"
                    allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="sucursales">
                <p class="sucur">
                    SUCURSALES
                    <br><br>
                    · Casa Central Córdoba Capital <br>
                    Av. Hipólito Yrigoyen 433. Nueva Córdoba.
                    <br><br>
                    · Carlos Paz <br>
                    Lisandro De La Torre 116 Local 2 – Tel: 03541 420669
                    <br><br>
                    · Pilar <br>
                    9 de Julio esq. Zenón López – Tel: 03572 – 471139
                </p>
            </div>
            <div class="redes">
                <p>NUESTRAS REDES</p>
                <div class="footer-links">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item" style="font-size: 50px;"><a href="https://www.facebook.com/" target="_blank"><i
                        class="fab fa-facebook" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item" style="font-size: 50px;"><a href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/" target="_blank"><i
                        class="fab fa-github" style="font-size: 50px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Turisteando 2023. Todos los derechos reservados</p>
        </div>
    </div>
<script src="../js/slider.js"></script>
</body>
</html>
