<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Turisteando.com</title>
    <!-- Link CSS  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/index.css">
     <link rel="stylesheet" href="../css/login.css">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/57e27e05bd.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar-->
        <nav class="navbar">
            <h1 class="logo">TURISTEANDO</h1>
            <ul class="nav-links">
                <li class="btn-nav"><a href="index.html">Inicio</a></li>
                <li class="btn-nav"><a href="dondeir.html">Dónde ir</a></li>
                <li class="btn-nav"><a href="paquetes.html">Paquetes</a></li>
                <li class="btn-nav"><a href="paquetes_admin.html">Panel Administrativo</a></li>
                <li class="btn-nav"><a href="quehacer.html">Qué hacer</a></li>
                <li class="btn-nav"><a href="nosotros.html">Sobre Nosotros</a></li>
            </ul>
            <img src="Icons/menu.png" class="menu-btn" alt="Menu">
        </nav>
        <div class="header-content">
            <h2>Logueate para poder acceder a nuestros paquetes</h2>
            <div class="line"></div>
            <h1></h1>
        </div>
    </header>
    <!-- Section lugares: "A donde ir"-->
    <section class="login-registro">

        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3"><span>Log In </span><span>Registrar</span></h6>
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                            <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <input type="email" class="form-style" placeholder="Email">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" class="form-style" placeholder="Password">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <a href="index.html" class="btn mt-4">Login</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-3 pb-3">Registrate</h4>
                                                <div class="form-group">
                                                    <input name="nombre" type="text" class="form-style"
                                                        placeholder="Nombre">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input name="apellido" type="text" class="form-style"
                                                        placeholder="Apellido">
                                                    <i class="input-icon uil uil-phone"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input name="email" type="email" class="form-style"
                                                        placeholder="Email">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input name="password" type="password" class="form-style"
                                                        placeholder="Password">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <a href="index.html" class="btn mt-4">Registrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Footer-->
    <div id="footer" class="footer">
        <div class="colum">
            <div class="mapa">
                <p>Atención al cliente: 0800 123 1234 Lunes a viernes de 10 a 21hs. Sábados de 10 a 16hs.</p>
                <iframe id="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.712423486534!2d-64.25265982345903!3d-31.394492095194916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329f2e20895265%3A0xf6dab6c01a51609a!2zRGXDoW4gRnVuZXMgNTI3OSwgQ8OzcmRvYmE!5e0!3m2!1ses-419!2sar!4v1683244585601!5m2!1ses-419!2sar"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="sucursales">
                <p class="sucur">
                    SUCURSALES
                    <br><br>
                    · Casa Central Córdoba Capital <br>
                    Av. Hipólito Yrigoyen 433. Nueva Córdoba.
                    <br><br>
                    · Carlos Paz <br>
                    Lisandro De La Torre 116 Local 2 – Tel: 03541 420669
                    <br><br>
                    · Pilar <br>
                    9 de Julio esq. Zenón López – Tel: 03572 – 471139
                </p>
            </div>
            <div class="redes">
                <p>NUESTRAS REDES</p>
                <div class="footer-links">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item" style="font-size: 50px;"><a href="https://www.facebook.com/"
                                target="_blank"><i class="fab fa-facebook" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item" style="font-size: 50px;"><a href="https://twitter.com/"
                                target="_blank"><i class="fab fa-twitter" style="font-size: 50px;"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/" target="_blank"><i
                                    class="fab fa-github" style="font-size: 50px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Turisteando 2023. Todos los derechos reservados</p>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>